.ecran {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid green; */
    height: 100vh;
}

.cadre {
    /* border: 1px solid rgb(255, 0, 0); */
    width: 80vw;
    height: 79vh;
    display: flex;
    justify-content: space-between;
}

.intro {
    /* border: 1px solid; */
    width: 18vw;
    height: 18vh;
    margin: 8vh 0 4vh 17vh;
    padding-top: 10px;
}

.container-sommaire {
    /* border: 1px solid; */
}