.projet-list {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

.dev {
    width: 32vw;
    height: 30vh;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.web, .games {
    /* border: 1px solid; */
    height: 30vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

h4{
    display: flex;
    justify-content: center;
    padding-right: 7vh;
}


li { 
    color: #470dd9; 
    padding-left: 16px;
    margin-left: 6vh;
    margin-top: 35px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    
    &:before {
      content: '';
      display: block;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      position: absolute;
      top: -12px;
      left: -46px;
    }
}
  
strong { color: #ffffff; }

ol.alternating-colors { 
    li:nth-child(odd):before { border-color: #043775; }
    li:nth-child(even):before { border-color: #12769E; }
}

button {
    width: 9vw;
    height: 5vh;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 17px;
    background-color: #043775;
    border: none;
}

button::after{
    background-color: #12769E;
}